version: "3.8"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    healthcheck:
      test: ["CMD-SHELL", "echo ruok | nc localhost 2181"]
      interval: 10s
      timeout: 5s
      retries: 5

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      zookeeper:
        condition: service_healthy
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CREATE_TOPICS: "match_events:1:1,match_results:1:1,bettings_events:1:1"
    ports:
      - "9092:9092"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5

  mysql:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: juan03
      MYSQL_DATABASE: apuestas_deportivas
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  betting_api:
    build: ./betting_api
    command: node betting_api.js
    depends_on:
      - kafka
      - rabbitmq
      - mysql
    environment:
      KAFKA_BROKER: kafka:9092
      RABBITMQ_URL: amqp://guest:guest@rabbitmq
      MYSQL_HOST: mysql
      MYSQL_USER: root
      MYSQL_PASSWORD: juan03
      MYSQL_DB: apuestas_deportivas
    ports:
      - "8080:8080"

  dashboard_backend:
    build: ./dashboard_backend
    command: node dashboard_backend.js
    depends_on:
      - rabbitmq
    environment:
      RABBITMQ_URL: amqp://guest:guest@rabbitmq
    ports:
      - "8081:8081"
      - "8082:8082"

  email_worker:
    build: ./email_worker
    command: node email_worker.js
    depends_on:
      - rabbitmq
    restart: always
    environment:
      RABBITMQ_URL: amqp://guest:guest@rabbitmq

  results_engine:
    build: ./results_engine
    command: node results_engine.js
    depends_on:
      - rabbitmq
      - kafka
    environment:
      RABBITMQ_URL: amqp://guest:guest@rabbitmq
      KAFKA_BROKER: kafka:9092

volumes:
  mysql_data:
